@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 249, 248, 219;
  --background-end-rgb: 255, 255, 255;
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}*/

html {
  background-color: rgb(var(--background-start-rgb));
}

img {
  max-width: 100%;
  animation: loadIn ease-out 1s;
  animation-iteration-count: 1;
}

nav {
  background: rgba(255, 231, 147, 1);
}

SpotifyPlaylist {
  max-width: 100%;
  animation: loadIn ease-out 1s;
  animation-iteration-count: 1;
}

p {
  animation: loadIn ease-out 1s;
  animation-iteration-count: 1;
}

h1 {
  max-width: 100%;
  animation: loadIn ease-out 1s;
  animation-iteration-count: 1;
}

li {
  padding-left: 10px;
  padding-right: 10px;
  display: inline;
}

a.active {
  color: rgb(179, 179, 179)
}

a:hover {
  color: rgb(179, 179, 179)
}

@keyframes loadIn {
  from {
    opacity: 0.3;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}