@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 247, 128;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  background-color: rgb(var(--background-start-rgb));
}

img {
  margin: auto;
}

nav {
  background: rgba(255, 228, 146, 0.5);
}

li {
  padding-left: 10px;
  padding-right: 10px;
  display: inline;
}

a.active {
  color: rgb(107, 107, 107)
}